In [ ]:
# numerical data ke liye mean, median,mode ka use karte hai
import pandas as pd
import numpy as np
dataset= pd.read_csv("SalaryGender.csv")

In [ ]:
dataset.head()

   Salary  Gender   Age  PhD
0   140.0       1  47.0  1.0
1    30.0       0  65.0  1.0
2    35.1       0  56.0  0.0
3    30.0       1  23.0  0.0
4    80.0       0  53.0  1.0

In [ ]:
dataset.shape

(100, 4)

In [ ]:
print(dataset.isnull().sum())

Salary    0
Gender    0
Age       8
PhD       8
dtype: int64

In [ ]:
dataset["Age"][:10]

0    47.0
1    65.0
2    56.0
3    23.0
4    53.0
5    27.0
6    53.0
7    30.0
8    44.0
9     NaN
Name: Age, dtype: float64

In [ ]:
#mean
dataset["Age"]= dataset["Age"].replace(np.nan, dataset["Age"].mean())
print(dataset["Age"][:10])

0    47.000000
1    65.000000
2    56.000000
3    23.000000
4    53.000000
5    27.000000
6    53.000000
7    30.000000
8    44.000000
9    47.293478
Name: Age, dtype: float64

In [ ]:
#median
dataset["Age"]= dataset["Age"].replace(np.nan, dataset["Age"].median())
print(dataset["Age"][:10])

0    47.000000
1    65.000000
2    56.000000
3    23.000000
4    53.000000
5    27.000000
6    53.000000
7    30.000000
8    44.000000
9    47.293478
Name: Age, dtype: float64

In [ ]:
#mode
import statistics
dataset["Age"]= dataset["Age"].replace(np.nan, statistics.mode(dataset["Age"]))
print(dataset["Age"][:100])

0     47.0
1     65.0
2     56.0
3     23.0
4     53.0
      ...
95    26.0
96    56.0
97    28.0
98    44.0
99    24.0
Name: Age, Length: 100, dtype: float64

Categorical data ke liye

In [ ]:
dataset.isnull().sum()

#missing value - categorical - solution

dataset['PhD'] = dataset['PhD'].fillna('UG')

#checking for missed value in categorical

dataset.isnull().sum()
print(dataset['PhD'][:32])

0     1.0
1     1.0
2     0.0
3     0.0
4     1.0
5     0.0
6     0.0
7     0.0
8     1.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    0.0
17    1.0
18     UG
19    1.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    1.0
26     UG
27    0.0
28    1.0
29    1.0
30    1.0
31    1.0
Name: PhD, dtype: object

In [ ]:
dataset.isnull().sum()

Salary    0
Gender    0
Age       0
PhD       0
dtype: int64

LOCF Method (Last observation carried forward)

In [ ]:
dataset['Age'] = dataset['Age'].fillna(method ='ffill')
dataset.isnull().sum()

/tmp/ipython-input-20-131565933.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset['Age'] = dataset['Age'].fillna(method ='ffill')

Salary    0
Gender    0
Age       0
PhD       0
dtype: int64

Interpoltion linear methods

In [ ]:
dataset['Age'] = dataset['Age'].interpolate(method='linear', limit_direction='forward', axis=0)
dataset.isnull().sum()

Salary    0
Gender    0
Age       0
PhD       0
dtype: int64

In [ ]:
dataset.to_csv('cleaned_employee_data.csv',index=False)